<table class="table table-dark-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Brand</th>
      <th scope="col">Country</th>
      <th scope="col">Creation date</th>
      <th scope="col">Last updated</th>
      <th scope="col">Registration date</th>
      <th scope="col">Options</th>
    </tr>
    <tr *ngFor="let car of cars" scope="col">
      <td>{{ car.id }}</td>
      <td>{{ car.brand }}</td>
      <td>{{ car.country }}</td>
      <td>{{ car.created | date:"dd/M/yyyy, h:mm a" }}</td>
      <td>{{car.updated | date:"dd/M/yyyy, h:mm a" }}</td>
      <td>{{ car.registration | date:"dd/M/yyyy" }}</td>
      <td>
        <a
          routerLink="/edit-car/{{ car.id }}"
          class="btn btn-primary btn-sm active"
          role="button"
          aria-pressed="true"
          >Update</a
        ><button
          class="btn btn-danger btn-sm active"
          role="button"
          aria-pressed="true"
          (click)="carSelected(car)"
        >
          Delete
        </button>
      </td>
    </tr>
  </thead>
</table>
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: displayStyle }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Are you sure you want to remove the car?
        </h4>
      </div>
      <div class="modal-body">
        <p>This action is irreversable</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteCar()">Delete</button
        ><button type="button" class="btn" (click)="closePopup()">Close</button>
      </div>
    </div>
  </div>
</div>
