<div class="d-flex flex-column align-items-center w-100 gap-3">
    <p *ngIf="car.id" class="p-0 m-0">Id: {{car.id}}</p>
  <div>
    <label>Country: </label>
    <input [(ngModel)]="car.country" placeholder="country" />
  </div>
  <div>
    <label>Brand: </label>
    <input [(ngModel)]="car.brand" placeholder="Brand" />
  </div>
  <div>
    <label>Registration:</label>
    <input type="date" [(ngModel)]="car.registration" />
  </div>
  <button *ngIf="car.id != undefined" (click)="updateCar()" class="btn btn-primary btn-sm active">
    Update
  </button>
  <button *ngIf="car.id == undefined" (click)="addCar()" class="btn btn-primary btn-sm active">
    Add
  </button>
</div>
